<div class="left-info-bar">


  <img src="/assets/Images/headshot.jpg" alt="" class="headshot">
  
  <div>
    <h2>James Hawk</h2>
  </div>

  <p>{{- site.description | escape -}}</p>

  <br>
    <!--CV link-->
    <a href="/assets/JamesHawk-CV2026.pdf"><img src="/assets/CvIcon.svg" alt="" class="svg-icon">Resume/CV</a>

    <!--Socials-->
    {%- include social.html -%}

  <br>

  <!--Discord-->
  <iframe src="https://discord.com/widget?id=1091466975512895498&theme=dark" width="180" height="360" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>

</div>
