<div class="left-info-bar">


  <img src="/assets/Images/headshot.jpg" alt="" class="headshot">
  
  <div>
    <h2>James Hawk</h2>
  </div>

  <p>{{- site.description | escape -}}</p>

  <!--Twitter link-->
  {%- if site.twitter_username -%}<a href="https://www.twitter.com/{{ site.twitter_username| cgi_escape | escape }}"><svg class="svg-icon"><use xlink:href="{{ '/assets/minima-social-icons.svg#twitter' | relative_url }}"></use></svg></a>{%- endif -%}
  
  <!--CV link-->
    <svg xmlns="{{ '/assets/CvIcon.svg' | relative_url }}">
        <text x="10" y="50" font-size="30">CV</text>
    </svg> 
 

</div>
