---
layout: default
---

<div class="home">

  

  {{ content }}



  <iframe id="mailinglistSub" src="https://backend.hawkjames.com/subscribeToMailinglist" title="Join mailinglist" width="600" height="135" frameBorder="0" ></iframe>  

  
  
  {% if page.featuredpost %}
  <hr>
    <h1>Featured Blog Post</h1>
    {% for post in site.posts %}
      {% if post.title == page.featuredpost %}
        <div class="blogpage-entry">
          <img src="{{- post.image | relative_url -}}" alt="" class="blog-image">
          <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
          <p class="author">
            <span class="date">{{ post.date }}</span>
          </p>
          <div class="blog-extract-content">
            {{ post.content | strip_html | truncatewords: 50 }}
          </div>
        </div>
      {% endif %}
    {% endfor %}
  {% endif %}




  
  

</div>
