---
layout: defaultwcolumns
---

<div id="wrapperpage-contentmain">
  {{ content }}


  <iframe id="mailinglistSub" src="https://backend.hawkjames.com/subscribeToMailinglist" title="Join mailinglist" width="500" height="135" frameBorder="0"></iframe>  

</div>



{%- if page.contenttitle1 -%}
  
  <div id="wrapperpage-contentleft1">
    <div class="column-contents">
      <h1 class="post-title">{{ page.contenttitle1 | escape }}</h1>

      {% for content1 in page.content1 %}
        <p>{{ content1 | textilize }}</p>
        <br>
      {% endfor %}

      {%- if page.content1List  -%}
        <ul>
          {% for content1List in page.content1List %}
            <li>{{ content1List | textilize }}</li>
          {% endfor %}
        </ul>
      {%- endif -%}

      {%- if page.contentlink1 -%}
        <a href="{{ page.contentlink1 | absolute_url }}" class="page-button-link">
          <div class="page-button">
            More info
          </div>
        </a>
      {%- endif -%}
    </div>
  </div>
  <div id="wrapperpage-contentright1">
    <!-- Show image or video -->
    {%- if page.contentimage1 -%}
      <img src="{{page.contentimage1 | relative_url}}" alt="" class="">
    {%- else -%}
      <iframe id="audioYoutubeClip" width="360" height="360" src="{{ page.contentvideo1 }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    {%- endif -%}
  </div>
  
{%- endif -%}

{%- if page.contenttitle2 -%}
  
  <div id="wrapperpage-contentleft2">
    <!-- Show image or video -->
    {%- if page.contentimage2 -%}
      <img src="{{page.contentimage2 | relative_url}}" alt="" class="">
    {%- else -%}
      <iframe id="audioYoutubeClip" width="360" height="360" src="{{ page.contentvideo2 }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    {%- endif -%}
  </div>
  <div id="wrapperpage-contentright2">
    <div class="column-contents">
      <h1 class="post-title">{{ page.contenttitle2 | escape }}</h1>
      {% for content2 in page.content2 %}
        <p>{{ content2 | textilize }}</p>
        <br>
      {% endfor %}
      {%- if page.content2List  -%}
        <ul>
          {% for content2List in page.content2List %}
            <li>{{ content2List | textilize }}</li>
          {% endfor %}
        </ul>
      {%- endif -%}
      {%- if page.contentlink2 -%}
        <a href="{{ page.contentlink2 | absolute_url }}" class="page-button-link">
          <div class="page-button">
            More info
          </div>
        </a>
      {%- endif -%}
    </div>
  </div>
  
{%- endif -%}

{%- if page.contenttitle3 -%}
  
  <div id="wrapperpage-contentleft3">
    <div class="column-contents">
      <h1 class="post-title">{{ page.contenttitle3 | escape }}</h1>
      {% for content3 in page.content3 %}
        <p>{{ content3 | textilize }}</p>
        <br>
      {% endfor %}

      {%- if page.content3List  -%}
        <ul>
          {% for content3List in page.content3List %}
            <li>{{ content3List | textilize }}</li>
          {% endfor %}
        </ul>
      {%- endif -%}
      {%- if page.contentlink3 -%}
        <a href="{{ page.contentlink3 | absolute_url }}" class="page-button-link">
          <div class="page-button">
            More info
          </div>
        </a>
      {%- endif -%}
    </div>
  </div>
  <div id="wrapperpage-contentright3">
    <!-- Show image or video -->
    {%- if page.contentimage3 -%}
      <img src="{{page.contentimage3 | relative_url}}" alt="" class="">
    {%- else -%}
      <iframe id="audioYoutubeClip" width="360" height="360" src="{{ page.contentvideo3 }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    {%- endif -%}
  </div>
  
{%- endif -%}

{%- if page.contenttitle4 -%}
  
  <div id="wrapperpage-contentleft4">
    <!-- Show image or video -->
    {%- if page.contentimage4 -%}
      <img src="{{page.contentimage4 | relative_url}}" alt="" class="">
    {%- else -%}
      <iframe id="audioYoutubeClip" width="360" height="360" src="{{ page.contentvideo4 }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    {%- endif -%}
  </div>
  <div id="wrapperpage-contentright4">
    <div class="column-contents">
      <h1 class="post-title">{{ page.contenttitle4 | escape }}</h1>
      {% for content4 in page.content4 %}
        <p>{{ content4 | textilize }}</p>
        <br>
      {% endfor %}
      {%- if page.content4List  -%}
        <ul>
          {% for content4List in page.content4List %}
            <li>{{ content4List | textilize }}</li>
          {% endfor %}
        </ul>
      {%- endif -%}
      {%- if page.contentlink4 -%}
        <a href="{{ page.contentlink4 | absolute_url }}" class="page-button-link">
          <div class="page-button">
            More info
          </div>
        </a>
      {%- endif -%}
    </div>
  </div>
  
{%- endif -%}

{%- if page.contenttitle5 -%}
  
  <div id="wrapperpage-contentleft5">
    <div class="column-contents">
      <h1 class="post-title">{{ page.contenttitle5 | escape }}</h1>
      {% for content5 in page.content5 %}
        <p>{{ content5 | textilize }}</p>
        <br>
      {% endfor %}

      {%- if page.content5List  -%}
        <ul>
          {% for content5List in page.content5List %}
            <li>{{ content1List | textilize }}</li>
          {% endfor %}
        </ul>
      {%- endif -%}
      {%- if page.contentlink5 -%}
        <a href="{{ page.contentlink5 | absolute_url }}" class="page-button-link">
          <div class="page-button">
            More info
          </div>
        </a>
      {%- endif -%}
    </div>
  </div>
  <div id="wrapperpage-contentright5">
    <!-- Show image or video -->
    {%- if page.contentimage5 -%}
      <img src="{{page.contentimage5 | relative_url}}" alt="" class="">
    {%- else -%}
      <iframe id="audioYoutubeClip" width="360" height="360" src="{{ page.contentvideo5 }}" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
    {%- endif -%}
  </div>

  
  
{%- endif -%}


